.aboutMe {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  border: 1px solid black;
  min-height: 400px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 5%;
  padding: 10px;
}

.aboutMe h2 {
  color: blue;
  padding: 20px;
}

.aboutMe img {
  display: block;
  height: auto;
  transform: rotate(90deg);
  width: 300px;
  padding: 10px;
}